@model TrackMySpending.Models.ViewModels.ExpenseVM


<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Expenses</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Expenses.ExpenseName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Expenses.Amount"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Expenses.ExpenseType"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Expenses.Item"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Expenses.ExpenseName" class="form-control" />
                        <span asp-validation-for="Expenses.ExpenseName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Expenses.Amount" class="form-control" />
                        <span asp-validation-for="Expenses.Amount" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        @*<select asp-for="ExpenseTypeId" asp-items="@ViewBag.ExpenseTypeDropDown" class="form-control">*@
                        <select asp-for="Expenses.ExpenseTypeId" asp-items="@Model.ExpenseTypeDropDown" class="form-control">
                            <option selected>---Select Expense Type---</option>
                        </select>
                        <span asp-validation-for="Expenses.ExpenseTypeId" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <select asp-for="Expenses.ItemId" asp-items="@Model.BorrowedItemDropDown" class="form-control">
                            <option selected>---Select Expense Type---</option>
                        </select>
                        <span asp-validation-for="Expenses.ItemId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col pt-3">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                        <div class="col pt-3">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}
    @*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@